@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}
